body {
  width: 90%;
  padding: 50px 0;
  margin: 0 auto;
  font-family: Arial;
  font-size: 18px;
  background-color: #f5f6f9;
  color: #222; }

h1 {
  text-align: center;
  font-size: 2.5em; }

h3 {
  text-align: center; }

.bold {
  font-weight: bold; }

.light {
  color: #a8a8a8; }

.right-space {
  margin-right: 5px; }

.num-results {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-top: 25px; }

.pseudo-code {
  font-family: "Courier New";
  text-align: center;
  font-size: 0.8em;
  color: #8e959e; }

#form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
  width: 600px;
  text-align: center;
  margin: 0 auto; }
  #form-container input {
    font-size: 1em;
    padding: 10px;
    margin: 4px;
    border-radius: 5px; }
  #form-container input[type=text] {
    width: 400px; }
  #form-container input[type=submit] {
    background-color: #f5f6f9; }

#repeat-result {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 30px; }

#results-container > div {
  width: 45%;
  margin: 2.5%;
  background-color: #fff;
  float: left;
  border-radius: 15px; }
#results-container table {
  width: 90%;
  margin: 5%; }
  #results-container table tr {
    border-top: 1px solid grey; }
  #results-container table td {
    border-bottom: 1px solid #ccc;
    padding: 15px 0; }
